:root{
/** Dark theme primary colors */
--color-primary-a0: #d89831;
--color-primary-a10: #dea34a;
--color-primary-a20: #e4ae61;
--color-primary-a30: #eab977;
--color-primary-a40: #efc58e;
--color-primary-a50: #f3d0a4;

/** Dark theme surface colors */
--color-surface-a0: #121212;
--color-surface-a10: #282828;
--color-surface-a20: #3f3f3f;
--color-surface-a30: #575757;
--color-surface-a40: #717171;
--color-surface-a50: #8b8b8b;

/** Dark theme mixed surface colors */
--color-surface-mixed-a0: #241e17;
--color-surface-mixed-a10: #39332c;
--color-surface-mixed-a20: #4f4943;
--color-surface-mixed-a30: #65605b;
--color-surface-mixed-a40: #7d7974;
--color-surface-mixed-a50: #96928e;

--background-dark: #010104;

--p-amber-50: #fef2de;
--p-amber-100: #fbdcac;
--p-amber-200: #f8c676;
--p-amber-300: #f5af3d;
--p-amber-400: #f49e00;
--p-amber-500: #f28d00;
--p-amber-600: #ef8100;
--p-amber-700: #e97100;
--p-amber-800: #e46100;
--p-amber-900: #db4500;



}
body{
    font-family: 'Roboto', sans-serif;
}